@import "normalize.css";

html, body {
    height: 100%;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
}

.game {
    user-select: none;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.notification-area {
    padding: 1em;
    height: 1em;
    line-height: 1;
}

$grid-opponent-gradient:
    $grid-opponent-line-color,
    $grid-opponent-line-color $grid-line-size,
    transparent $grid-line-size,
    transparent calc($grid-spacing - $grid-line-size),
    $grid-opponent-line-color calc($grid-spacing - $grid-line-size),
    $grid-opponent-line-color $grid-spacing;
$grid-player-gradient:
    $grid-player-line-color,
    $grid-player-line-color $grid-line-size,
    transparent $grid-line-size,
    transparent calc($grid-spacing - $grid-line-size),
    $grid-player-line-color calc($grid-spacing - $grid-line-size),
    $grid-player-line-color $grid-spacing;

/* grid */
.grid {
    position: relative;
    width: calc($grid-spacing * 10);
    height: calc($grid-spacing * 10);
    border-width: $grid-line-size;
    border-style: solid;
    &--opponent {
        border-color: $grid-opponent-line-color;
        background-image:
            repeating-linear-gradient($grid-opponent-gradient),
            repeating-linear-gradient(90deg, $grid-opponent-gradient);
    }
    &--player {
        border-color: $grid-player-line-color;
        background-image:
            repeating-linear-gradient($grid-player-gradient),
            repeating-linear-gradient(90deg, $grid-player-gradient);
    }
}

/* crosshair */
.grid__crosshair {
    width: $grid-spacing;
    height: $grid-spacing;
    position: absolute;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: calc($grid-spacing / 4);
    &--hide{
        display: none;
    }
}

/* ships */
.grid__ship, .grid__shot, .grid__crosshair {
    pointer-events: none;
}

.grid__ship {
    transition-property: opacity, background, border-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: calc($grid-spacing / 2);
    background: rgba(0,0,0,0.5);
    &--hide { opacity: 0; }
}

.grid__ship--highlight {
    background: rgba(255,0,0,0.5);
    border-color: #f00;
}

/* shots */
.grid__shot {
    transition-property: opacity, transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    position: absolute;
    box-sizing: border-box;
    margin: calc($grid-spacing / 4);
    width: calc($grid-spacing / 2);
    height: calc($grid-spacing / 2);
    background: #000;
    border-radius: 50%;
    &--hide {
        opacity: 0;
        transform: scale(0.75);
    }
}

.grid__shot--hit {
    background: #f00;
}
